body{
	background-color: #f2f2f2;
	font-family: "Source Sans Pro",sans-serif;
	font-size: 20px;
	margin: 0px;
}

.navbar,
.footer{
	width=100%;	
	text-align: center;	
}

.navbar{
	border-bottom: 1px solid #e0e0d1;
}

.footer{}

.navbar,
.navbar-menu,
.navbar-user-nav{
	height: 50px;	
}

.navbar-menu,
.navbar-user-nav{
	width: 50%;
	float: left;
}

.navbar-menu,
.navbar-user-nav{
	background-color: white;
}

.navbar-menu-options{
	float: left;
	margin-left: 100px;
}

.navbar-user-nav-options{
	float: right;
	margin-right: 100px;
}

.navbar-user-nav-item,
.navbar-menu-item{
	margin: 10px;
}

.navbar-user-nav-item{
	float:right;
}

.navbar-menu-item{
	float: left;	
}

.container{
	margin: 20px 200px;
	background-color: white;
	padding-bottom: 20px;
	border: 1px solid #e0e0d1;
    border-radius: 0px;
}


.page-name-container{
	margin:0px;
	border: 1px solid #eff0f1;
    border-radius: 0px;
    background-color: #f2f2f2;
}

.page-name{
    padding:5px;
    margin:0px;
    text-align: left;  
    font-size: 20px;  
}

.margin-10{
	margin: 20px;
}

.form-container{

}

.input{
	font-size: 15px;
}

.alert-success,
.alert-danger{
	width: 100%;
	height: 50px;
	padding-top: 10px;
	padding-left:10px;
}

.alert-success{
	color: #004d00;
}

.alert-danger{
	color: #ff8080;
}

.form-control{
	font-size: 25px;
	width: 100%;
}

.btn-submit{
	width: 100%;
	height: 30px;
}